body {
    background-color: #eee;
}

.fondo {
    background-image: repeating-linear-gradient(to bottom, rgba(255, 0, 0, 0.7) 10%, tomato 20%); /*gradiente en el que se parte con un color y se termina con otro */
}

.colores {
    background-color: hsl(140, 35%, 70%) /*hsl(hue, saturation, lightness); hue va de 0 a 360; 0 rojo, 120 verde y 240 azul; brillo 0% negro y 100% luminoso blanco; también le podemos entregar un alpha*/ 
}


.box {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset; /*indicamos los bordes de sombra, qué tan difuminado queremos, color e inset para tener la sombra por dentro */
}

.text {
    color: white;
    text-shadow: 0px 1px 2px rgba(255, 0, 0, 0.7); /*derecha, abajo, difuminar, color*/
}

.pessoa { /*la propiedad de transforme hay que aplicarla a un elemento con display block*/
    position: relative;
    left: 100px;
    width: 200px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    /*transform: rotate(-10deg);*/
    /*transform: translate(20px, 10px); /*se desplaza hacia la derecha y hacia abajo*/
    /*transform: scale(1.3, 1.05);*/
    transform: skew(5deg, 5deg); /*se inclina*/
    /*transform: rotateX(50deg); /*podemos indicar que rote en cualquiera de sus los 3 ejer X,Y,Z*/
    /*transition: 0.4s; /*recibe dos propiedades*/
    transition-delay: 0.3s 0.4s; /*indicamos que la transicion se retrase*/
    
}

.pessoa:hover {
    transform: scale(1.2, 1.2);
    background-color: rgba(0, 0, 0, 0.1);
}